
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
            color: #333;
        }

        header {
            background: #394240;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            transition: background 0.3s ease-in-out;
        }

        header:hover {
            background: #4a535a;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            margin-left: 15px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 15px;
            transition: color 0.3s ease-in-out;
        }

        nav a:hover {
            color: #67a5d1;
        }

        .dropdown-btn {
            background-color: #67a5d1;
            color: #fff;
            padding: 10px 20px;
            margin: 0 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .dropdown-btn:hover {
            background-color: #527b99;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: #333;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s ease-in-out;
        }

        .dropdown-content a:hover {
            background-color: #67a5d1;
            color: #fff;
        }

        .get-location-btn {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .get-location-btn:hover {
            background-color: #45a049;
        }

        .location-info {
            margin-top: 10px;
            font-size: 16px;
            color: #060606;
            font-weight: bold;
        }

        section {
            
            padding: 2em;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            margin-top: 200px;
            border: 1px solid #e0e0e0;
            
        }

        section:hover {
            transform: translateY(-10px);
        }

        h1 {
            color: #394240;
            font-family: 'Roboto', sans-serif;
        }

        p {
            line-height: 1.6;
            color: #555;
            font-family: 'Roboto', sans-serif;
        }

        button {
            background: #67a5d1;
            color: #fff;
            padding: 14px 28px;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
        }

        button:hover {
            background: #527b99;
        }

        footer {
            background: #394240;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }

        .advertisement {
            background: #fff;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 2em 0;
        }

        .advertisement h2 {
            color: #394240;
            font-size: 24px;
            margin-bottom: 15px;
        }

        .advertisement p {
            line-height: 1.6;
            color: #555;
            font-family: 'Roboto', sans-serif;
        }

        .advertisement p:last-child {
            margin-bottom: 0;
        }

        .tagline {
            font-size: 18px;
            color: #555;
        }

        .signup-section,
        .login-section {
            background-image: url(https://static.vecteezy.com/system/resources/previews/005/391/265/non_2x/stethoscope-and-smartphone-on-blue-background-app-health-smartphone-mockup-get-an-online-consultation-from-doctor-by-smartphone-doctor-online-consultation-concept-3d-rendering-free-photo.jpg);
            color: #fff;
            padding: 4em 0;
            text-align: center;
        }

        .signup-form,
        .login-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 400px;
            margin: 0 auto;
            backdrop-filter: blur(3px);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }

        .signup-form input,
        .login-form input {
            padding: 15px;
            margin: 10px 0;
            width: 100%;
            border: 1px solid #dcdcdc;
            border-radius: 8px;
            font-size: 16px;
            color: #555;
        }

        .signup-form button,
        .login-form button {
            background: #3498db;
            color: #fff;
            padding: 18px 32px;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .signup-form button:hover,
        .login-form button:hover {
            background: #2980b9;
            color: #fff;
        }

        .login-form a,
        .signup-form a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease-in-out;
        }

        .login-form a:hover,
        .signup-form a:hover {
            color: #2980b9;
        }

        .switch-section {
            margin-top: 20px;
            color: #fff;
        }

        .switch-section a {
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }

        .switch-section a:hover {
            color: #ddd;
        }
   